<ion-content [fullscreen]="true">
  <div class="container">
    <p>¡Inicia tu jornada laboral!</p>
  </div>

  <form (ngSubmit)="login()">
    <p>Ingresa con tu cuenta</p>
    <div class="inputs-container">
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Correo"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>

    <ion-button type="submit" shape="round" color="light">Iniciar Sesión</ion-button>

    
  </form>
  <ion-toast 
    [isOpen]="showToast" 
    [duration]="3000" 
    [message]="toastMessage" 
    class="custom-toast"
    [buttons]="toastButtons">
</ion-toast>
</ion-content>