<ion-content [fullscreen]="true">

    <ion-card class="profile-card">
        <div class="card-header">
            <div class="avatar-container">
                <img src="assets/icon/iconProfile.png" alt="Avatar" class="avatar" />
            </div>
            <div class="user-info">
                <h2 class="username">Mateo</h2>
                <p class="surname">Rodriguez</p>
            </div>
        </div>

        <div class="stats">
            <span>Ingeniero Agricultor</span>
            <span>22/05/2025</span>
        </div>

        <div class="card-buttons">
            <ion-button (click)="logout()" expand="block" class="black-button">Cerrar Sesion</ion-button>
        </div>
    </ion-card>


    <div class="jornadasContainer">
        <div class="buttonsContainer">
            <ion-button color="dark" size="small" (click)="mostrarTodas()">Todas</ion-button>
            <ion-button color="light" size="small" (click)="mostrarPendientes()">Pendientes</ion-button>
            <ion-button color="light" size="small" (click)="mostrarFinalizadas()">Finalizadas</ion-button>

        </div>

        <ion-list class="list" lines="none" *ngIf="jornadasFiltradas.length > 0; else sinJornadas">
            <ion-item *ngFor="let jornada of jornadasFiltradas" (click)="cambiarEstadoJornada(jornada)">
                <div class="item-container">
                    <div class="info1">
                        <img src="assets/icon/ItemListIcon2.png" alt="icon" />
                        <div>
                            <p class="building">{{ jornada.nameLocation }}</p>
                            <p>{{ jornada.startingDate | date: 'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p class="date">{{ jornada.state }}</p>
                        <p>
                            {{ jornada.startingDate | date: 'HH:mm' }}
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>


    <ng-template #sinJornadas>
        <div class="empty-container">
            <p class="empty-message">Sin Jornadas en esta sección</p>
            <img src="assets/icon/emptyIcon.png" alt="emptyIcon">
        </div>
    </ng-template>

</ion-content>