<ion-content [fullscreen]="true">

    <ion-card class="profile-card">
        <div class="card-header">
            <div class="avatar-container">
                <img src="assets/icon/iconProfile.png" alt="Avatar" class="avatar" />
            </div>
            <div class="user-info">
                <h2 class="username">Mateo</h2>
                <p class="surname">Rodriguez</p>
            </div>
        </div>

        <div class="stats">
            <span>Ingeniero Agricultor</span>
            <span>22/05/2025</span>
        </div>

        <div class="card-buttons">
            <ion-button (click)="logout()" expand="block" class="black-button">Cerrar Sesion</ion-button>
        </div>
    </ion-card>


    <div class="jornadasContainer">
        <div class="buttonsContainer">
            <ion-button color="dark" size="small" (click)="mostrarTodas()">Todas</ion-button>
            <ion-button color="light" size="small" (click)="mostrarPendientes()">Pendientes</ion-button>
            <ion-button color="light" size="small" (click)="mostrarFinalizadas()">Finalizadas</ion-button>

        </div>

        <ion-list class="list" lines="none" *ngIf="jornadasFiltradas.length > 0; else sinJornadas">
            <ion-item *ngFor="let jornada of jornadasFiltradas" (click)="abrirModal(jornada)">
                <div class="item-container">
                    <div class="info1">
                        <img src="assets/icon/ItemListIcon2.png" alt="icon" />
                        <div>
                            <p class="building">{{ jornada.nameLocation }}</p>
                            <p>{{ jornada.startingDate | date: 'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                    <div class="info2">
                        <p class="date">{{ jornada.state }}</p>
                        <p>
                            {{ jornada.startingDate | date: 'HH:mm' }}
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>


    <ng-template #sinJornadas>
        <div class="empty-container">
            <p class="empty-message">Sin Jornadas en esta sección</p>
            <img src="assets/icon/emptyIcon.png" alt="emptyIcon">
        </div>
    </ng-template>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content class="ion-padding custom-modal-content">
      <ion-card class="project-card">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/icon/ItemListIcon2.png" />
          </ion-avatar>
          <ion-label>
            <h2 class="project-title">{{ selectedJornada?.nameLocation || 'Jornada Location' }}</h2>
            <p class="project-subtitle">{{ selectedJornada?.startingDate | date: 'dd/MM/yyyy' }}</p>
        </ion-label>
        <ion-icon class="close-icon" (click)="setOpen(false)" name="close-outline"></ion-icon>
        </ion-item> 

        <h2>Horarios de la jornada</h2>
        <div class="card-section">
          <ion-icon name="enter-outline" color="success"></ion-icon>
          <h3>{{ selectedJornada?.startingDate | date: 'HH:mm' }} </h3>
        </div>

        <div class="card-section">
          <ion-icon class="inverted-icon" name="enter-outline" color="warning"></ion-icon>
          <h3>{{ selectedJornada?.finishingDate | date: 'HH:mm' }}</h3>
        </div>

        <h2>Tus horarios de entrada y salida</h2>
        <div class="card-section">
          <ion-icon name="enter-outline" color="success"></ion-icon>
          <h3>{{ selectedJornada?.dateStarted | date: 'HH:mm' }} </h3>
        </div>

        <div class="card-section">
          <ion-icon class="inverted-icon" name="enter-outline" color="warning"></ion-icon>
          <h3>{{ selectedJornada?.dateFinished | date: 'HH:mm'}}</h3>
        </div>


        <ion-button *ngIf="selectedJornada?.state !== 'Finalizada'" (click)="cambiarEstadoJornada(selectedJornada)">{{ selectedJornada?.state === 'Pendiente' ? 'Comenzar Turno' : selectedJornada?.state === 'En Proceso' ? 'Terminar Jornada' : 'Jornada Finalizada'}}</ion-button>



      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>


  <ion-toast 
    [isOpen]="showToast" 
    [duration]="3000" 
    [message]="toastMessage" 
    class="custom-toast"
    [buttons]="toastButtons">
</ion-toast>

</ion-content>