.profile-card {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e1e1e1;

  .card-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;

    .avatar-container {
      width: 54px;
      height: 54px;

      .avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .user-info {
      .username {
        font-size: 16px;
        margin: 0;
        font-weight: 600;
      }

      .surname {
        font-size: 14px;
        color: gray;
        margin: 0;
      }
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    color: #333;
  }

  .card-buttons {
    display: flex;
    gap: 8px;

    .black-button {
      --background: black;
      --color: white;
      flex: 1;
    }

    .gray-button {
      --background: #f0f0f0;
      --color: black;
      flex: 1;
    }
  }
}



.jornadasContainer {


  .buttonsContainer {
    margin-left: 15px;

    ion-button {
      border-radius: 80px;
    }
  }

  .list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
}

.item-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .info1 {
    text-align: left;
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  .info2 {
    text-align: right;
    margin-right: 20px;
  }

  .building {
    font-weight: 600;
  }

  .date {
    font-weight: 600;
  }

}



.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty-message {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  img {
    width: 150px;
    height: 150px;
  }
}



.project-card {
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 12px;

  .close-icon {
    width: 35px;
    height: 35px;
  }

  .project-title {
    font-weight: bold;
    font-size: 20px;
  }

  .project-subtitle {
    font-weight: 800;
    font-size: 20px;
  }

  .card-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;

    ion-icon{
      width: 40px;
      height: 40px;
    }

    .inverted-icon {
      transform: rotate(180deg); 
    }
  }
}
